@model IEnumerable<evidence_zavad_uhrin.Models.Rooms>

@{
    ViewData["Title"] = "Místnosti";
}

<div class="page-container">
    <div class="page-header">
        <h1>Místnosti</h1>

        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-primary" asp-action="Create">+ Přidat místnost</a>
        }
    </div>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Název</th>
                <th>Patro</th>
                <th>Popis</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>



        </tbody>
    </table>
</div>
